@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');


*{
    font-family: 'Arimo', sans-serif;
}


h5{
    margin: 0;
}

html{
    background-color: rgb(0, 0, 0);
}

.App{
    display: block;
    width: 100vw;
    height: 100vh;
}

.HoverInformation{
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 3px;
    z-index: 100;
    width: 250px;
    height: 150px;
    background-color: rgba(50, 49, 49, 0.765);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 100;
    border: 1px solid rgb(105, 105, 105);
}

.RandomCountryGenerator{
    position: absolute;
    z-index: 100;
    width: 100px;
    height: 50px;
    background-color: white;
    color: black;
    right: 300px;
}

.RandomCountryDisplay{
    color: white;
    height: 100px;
    width: 100px;
    background-color: black;
    position: absolute;
    right: 500px;
    z-index: 100;

}

#CorrectOrWrong{
    color: white;
    height: 100px; 
    width: 100px; 
    z-index: 100;
    right: 100px; 
    position: absolute;
}

.background-green{
    background-color: green;
}

.background-red{
    background-color: red;
}

.currentRandomCountryContainer{
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-content: center;
    line-height: 40px;
    font-size: 15px;
    border-bottom: 1px solid rgb(105, 105, 105);
    box-sizing: border-box;
    padding-left: 20px;
}

.currentRandomCountryStatsContainer{
    height: 100%;
    display: grid;
    grid-template-columns: auto  auto;
    align-items: center;
    box-sizing: border-box;
}

.currentRandomCountryStatsContainer h5{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



#bestStreakId{
    border-left: 1px solid rgb(105, 105, 105);
    justify-content: center;
    height: 100%;
}



