h3{
    margin: 0;
}

html{
    background-color: red;
}

.App{
    display: block;
    width: 100vw;
    height: 100vh;
}

.HoverInformation{
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 3px;
    z-index: 100;
    width: 240px;
    height: 200px;
    background-color: rgba(50, 49, 49, 0.765);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: rgb(218, 218, 218);
}