
h1{
    margin: 0;
}

.menuContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.351);
    display: flex;
}

.menuContainerMax{
    margin: auto;
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    backdrop-filter: blur(5px);
    color: white;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#menuContainerTitle{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}

.menuContainerButtonContainers{
    margin: auto;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 20px;
    margin-top: 20px;
}

.menuContainerButtonContainersMax{
    max-width: 500px;
}

